.col-md-12
  .thumbnail.text-center.item-not-found
    .error-template
      %h1 Oops!
      %h2 Item Not Found
      .error-details
        Nothing found on your request!
        = link_to 'Back', root_path
